{% load qr_code %}
{% load static %}

<div style="max-width:600px;width:100%;background:#FFF;display:block;margin:0px auto;font-family: Arial,sans-serif;font-size:12px;text-align:center;padding:30px 0">
    <table width="100%" height="100px">
        <tbody>
        <tr>
            <td align="center" style="text-align:center">
                <h2 style="font-size:21px;line-height:26px;margin-bottom:0;margin-top:0;padding:0;text-align:center;color:#4c4c4c;font-family:'HelveticaNeue-Light','Helvetica Neue',Helvetica,Arial,sans-serif" aria-label="UNITED NATIONS">
                    <span style="font-family:Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, 'sans-serif';color:#030303;font-size:24px">UNITED NATIONS</span>
                    <div style="font-family:-Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, 'sans-serif';color:#030303;font-size:24px">Digital Credentials</div>
                </h2>
            </td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td style="background:#FFF;padding:40px 5%;color:#4d4d4d;border-top:1px solid #bbbbbb;;text-align: center;font-family: Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, 'sans-serif';line-height: 24px;font-size:14px;">
                Please, scan this QR code with the UN Digital ID app:
                <br>
                <br>
                {% qr_from_text invitation_url size="M" image_format="svg" %}
                <br>
            </td>
        </tr>
        <tr>
            <td>
                <table width="100%" style="margin-top: 10px">
                    <tbody>
                        <tr>
                            <td style="text-align: center;">
                                If you are seeing this in a device that has the app installed, please click
                                <a href="didcomm://launch?d_m={{ invitation_b64 }}">here</a>.
                            </td>
                        </tr>
                    </tbody>
                </table>
        </tbody>
    </table>
</div>
